<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbItqSqlServer" 
			 connectionString="Server=victor-pc\sql2012; Initial Catalog=dbItq; trusted_connection=true;"/>
		<add name="dbItqPostgres"
			 connectionString="Host=localhost;Database=dbItq;Username=postgres;Password=nupode;"/>
		<add name="dbItqMySql"
			 connectionString="server=localhost;user=root;password=nupode;database=dbItq;"/>
		<add name="dbItqMemoria"
			 connectionString="dbItq"/>
	</connectionStrings>
</configuration>